---
title: Our projects
description: Pellentesque ullamcorper porttitor pretium. Pellentesque ut vestibulum nisi. Ut a velit ut erat venenatis euismod. Nulla dictum maximus luctus. Vestibulum et quam efficitur, auctor metus id, iaculis massa. Nulla facilisi. Donec sodales lacinia metus.
# description: # toggle description text if needed
---

{% if site.work %}
    {% assign work_posts = site.work | sort: 'weight' %}
{% endif %}

{% if work_posts %}
<div class="work-items-wrapper">
    <ul class="work-items">
        {% for item in work_posts %}
        <li class="work-card">
            <div class="row">
                <div class="col-sm-4 col-lg-3">
                    <div class="o-ratio o-ratio-5:4 media-rounded-small">
                        {% if item.thumbnail %}
                        <img draggable="false" alt="{{ item.name }}" src="{{ item.thumbnail | relative_url }}" />
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-8 col-lg-9">
                    <div class="work-item-summary">
                        <h3 class="work-item-title">
                            <a class="work-card-link"
                            {% if item.url_external %}
                                href="{{ item.url_external }}" target="_blank"
                            {% else %}
                                href="{{ item.url | relative_url }}"
                            {% endif %}
                            >
                                <span class="work-card-link-label">
                                    {{ item.name }}
                                </span>
                                <span class="work-card-link-external">
                                    {% if item.url_external %}
                                        {% include icons/external-link.svg %}
                                    {% endif %}
                                </span>
                            </a>
                        </h3>
                        {% if item.description %}<p>{{ item.description }}</p>{% endif %}
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% else %}
<p>No work posts displayed</p>
{% endif %}