{% assign item = site.data.section-about %}
<section class="section-about">
    <div class="section-id-aligner"
        {% assign buttons = site.data.buttons.homepage_intro.items %}
        {%- for item in buttons -%}
        {% assign goto_target = item.target %}
        {% if goto_target %}id="{{ goto_target }}"{% endif %}
        {%- endfor -%}
    ></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-1 col-lg-5">
                {% if item.section_label %}<p>{{ item.section_label }}</p>{% endif %}
            </div>
            <div class="col-md-6 col-lg-5">
                <h2>{{ item.title }}</h2>
                {% if item.paragraph_1 %}<p>{{ item.paragraph_1 }}</p>{% endif %}
                {% if item.paragraph_2 %}<p>{{ item.paragraph_2 }}</p>{% endif %}
                {% if item.paragraph_3 %}<p>{{ item.paragraph_3 }}</p>{% endif %}
                {% assign button = site.data.buttons.homepage_about %}
                <a href="{{ button.link | relative_url }}">{{ button.label | escape }}</a>
            </div>
        </div>
    </div>
</section>