{% assign careers = site.data.section-careers.items %}
{% assign button = site.data.buttons.homepage_careers %}
{% assign limit = site.home.limit_careers %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-1 col-lg-4">
                {% if careers %}
                <ul>
                  {% for item in careers limit: limit %}
                  <li>
                    <h3>{{ item.title }}</h3>
                    <a href="{{ item.url }}" target="_blank">{{ button.label_list_item }}</a>
                  </li>
                  {% endfor %}
                </ul>
                {% endif %}
                <a href="{{ button.link | relative_url }}">{{ button.label | escape }}</a>
            </div>
        </div>
    </div>
</section>