{% assign features = site.data.section-features %}
{% assign features_items = site.data.features-items %}
{% assign limit = site.home.limit_features %}
<section class="section-features">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-xl-8 offset-xl-2">
                <div class="section-head {% if features.is_centered %}is-centered{% endif %}">
                    {% if features.section_label %}
                    <p class="section-label">
                        {{ features.section_label }}
                    </p>
                    {% endif %}
                    <h2 class="section-heading">{{ features.section_heading }}</h2>
                    {% if features.description %}<p>{{ features.description }}</p>{% endif %}
                </div>
            </div>
        </div>
        {% if features_items %}
        <div class="list-items-wrapper">
            <div class="row">
                <div class="{% if features.layout_columns_2 %}col-lg-8 offset-lg-2 {% elsif features.layout_columns_3 %}col-lg-10 offset-lg-1 {% elsif features.layout_columns_4 %}col-12 {% else %}col-lg-6 offset-lg-3{% endif %}">
                    <ul class="list-items {% if features.layout_columns_2 %}is-cols-2 {% elsif features.layout_columns_3 %}is-cols-3 {% elsif features.layout_columns_4 %}is-cols-4{% endif %}">
                        {% for item in features_items limit: limit %}
                        <li class="list-card is-not-link {% if features.card_variable %}is-variable{% endif %}">
                            <div class="row">
                                <div class="{% if features.card_variable %}col-sm-4 col-lg-12 {% else %}col-12{% endif %}">
                                    <div class="media-rounded-small o-ratio 
                                        {% if features.images_ratio == '5:4' %}
                                        o-ratio-5:4
                                        {% elsif features.images_ratio == '5:3' %}
                                        o-ratio-5:3
                                        {% elsif features.images_ratio == '4:3' %}
                                        o-ratio-4:3
                                        {% elsif features.images_ratio == '3:4' %}
                                        o-ratio-3:4
                                        {% endif %}
                                    ">
                                        {% if item.thumbnail %}
                                        <img draggable="false" alt="{{ item.name }}" src="{{ item.thumbnail | relative_url }}" />
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="{% if features.card_variable %}col-sm-8 col-lg-12 {% else %}col-12{% endif %}">
                                    <div class="list-item-summary">
                                        <h3 class="list-item-title">
                                        <span class="list-card-link-label">
                                            {{ item.name }}
                                        </span>
                                        </h3>
                                        {% if item.synopsis %}
                                          <p class="list-item-synopsis">{{ item.synopsis }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        {% else %}
        <p>{{ site.data.page-list.features.no-items }}</p>
        {% endif %}
    </div>
</section>