{% assign item = site.data.section-intro %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-1 col-lg-4">
                <h1>{{ item.title }}</h1>
                <h2>{{ item.tagline }}</h2>
                {% assign button_goto = site.data.buttons.homepage_intro_goto %}
                {% if button_goto.target %}
                <a href="#{{ button_goto.target }}">{{ button_goto.label | escape }}</a>
                {% endif %}
                {% assign button_contact = site.data.buttons.homepage_intro_contact %}
                {% if button_contact.link %}
                <a href="{{ button_contact.link | relative_url }}">{{ button_contact.label | escape }}</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>