{% assign products = site.data.section-products %}
{% assign products_posts = site.products | sort: 'weight' %}
{% assign buttons = site.data.buttons.homepage_products.items %}
{% assign limit = site.home.limit_products %}
<section class="section-products">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 col-xl-6 offset-xl-3">
                {% if products.section_label %}
                <p class="section-label">
                    {{ products.section_label }}
                </p>
                {% endif %}
                <h2 class="section-title">{{ products.title }}</h2>
                {% if products.description %}<p>{{ products.description }}</p>{% endif %}
            </div>
        </div>
        {% if products_posts %}
        <div class="products-items-wrapper">
            <ul class="products-items">
                {% for item in products_posts limit: limit %}
                <li class="products-card">
                    <div class="row">
                        <div class="col-sm-4 col-lg-3">
                            <div class="o-ratio media-rounded-small">
                                {% if item.thumbnail %}
                                <img draggable="false" alt="{{ item.name }}" src="{{ item.thumbnail | relative_url }}" />
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-sm-8 col-lg-9">
                            <div class="products-item-summary">
                                <h3 class="products-item-title">
                                    <a class="products-card-link"
                                    {% if item.url_external %}
                                        href="{{ item.url_external }}" target="_blank"
                                    {% else %}
                                        href="{{ item.url | relative_url }}"
                                    {% endif %}
                                    >
                                        <span class="products-card-link-label">
                                            {{ item.name }}
                                        </span>
                                        <span class="products-card-link-external">
                                            {% if item.url_external %}
                                                {% include icons/external-link.svg %}
                                            {% endif %}
                                        </span>
                                    </a>
                                </h3>
                                {% if item.description %}<p>{{ item.description }}</p>{% endif %}
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        {%- if buttons -%}
        <div class="section-links section-links-centered">
            {%- for item in buttons -%}
            {% assign button_style = item.style %}
            <span class="section-links-item">
                <a class="button {% if item.style == 'primary' %}button-primary {% elsif item.style == 'outline' %}button-outline {% endif %}" href="{{ item.link | relative_url }}">{{ item.label | escape }}</a>
            </span>
            {%- endfor -%}
        </div>
        {%- endif -%}
    </div>
</section>