::selection {
    background-color: var(--selection-bg);
    color: var(--selection-text);
}

html {
    font-family: var(--font-family-base);
    line-height: 1.5;
}

html.dark {
    color-scheme: dark;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-heading);
}

html, body, .body-content, .page-content {
    height: 100%;
}

.body-content {
    display: flex;
    flex-direction: column;
    // min-height: 100vh;
}

.scroll-content {
    flex-grow: 1;
}

.page-content {
    padding-top: var(--header-height);
}

.page-layout {
    height: 100%;
}

.page-intro {
    padding-top: 3em;
    margin-bottom: 4em;
}

.team-intro-button-wrap {
    margin-bottom: 2em;
}

.page-body {
    margin-top: 3em;
    padding-bottom: 4em;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--header-bg);
    color: var(--header-color);
    z-index: 1000;
}

.header-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
}

.footer {
    background-color: var(--footer-bg);
    padding-top: var(--footer-padding-top);
    padding-bottom: var(--footer-padding-bottom);
}

.footer-layout {
    display: flex;
    flex-direction: column;
}

.footer-socials {
    font-size: var(--footer-socials-size);
    display: flex;
    justify-content: center;
}

.nav-social {
    display: flex;
}
.nav-social-link {
    text-decoration: none;
    display: flex;
    margin: 0 var(--footer-socials-space-between-items);
}

.footer-end {
    font-size: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;
}

.footer-copyright {
    display: flex;
    align-items: center;
}

.footer-brand {
    margin-right: 1em;
}

.company-name {
    text-decoration: none;
}

.is-visually-hidden:not(:focus):not(:active) {
    clip: rect(1px 1px 1px 1px); 
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%); 
    height: 1px; 
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.brand-link {
    display: flex;

    & > svg {
        pointer-events: none;
    }

    .header-brand & {
        height: var(--header-brand-link-height);
    }
    
    .footer-brand & {
        height: var(--footer-brand-link-height);
    }
}























.nav-main-list-reset {
    padding: 0;
    margin: 0;
    list-style: none;
}
.nav-link {
    line-height: 1;
    text-decoration: none;

    &.is-current .nav-link-label {
        position: relative;

        &:before {
            content: "";
            position: absolute;
            top: auto;
            left: 0;
            bottom: 0;
            right: 0;
            height: 0.1em;
            // box-shadow: inset 0 0 0 2px currentColor;
            background-color: currentColor;
            pointer-events: none;

            @include media-breakpoint-down(lg) {
                background-color: var(--mobile-current-bg);
            }
            @include media-breakpoint-up(lg) {
                background-color: var(--desktop-current-bg);
            }
        }
    }
}


@media (max-width: 991px) {
    html.lock-scroll {
        // overflow: hidden;
        position: fixed;
    }
    .nav-main-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding-top: var(--header-height);
        z-index: -1;
        opacity: 0;
        pointer-events: none;
        transition: opacity var(--transition-duration-fast) var(--easing);
        
        html.nav-main-open & {
            opacity: 1;
            pointer-events: auto;
        }
    }
    .nav-main {
        background-color: var(--mobile-nav-bg);
        color: var(--mobile-nav-color);
        font-size: 150%;
        text-align: center;
        padding-top: var(--header-height);
        padding-bottom: var(--header-height);
        height: 100%;
        overflow-y: auto;
    }
    .nav-main-trigger {
        position: relative;
    
        & > * {
            pointer-events: none;
        }
    }
    
    .nav-main-trigger-icon-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: opacity var(--transition-duration-fast) var(--easing);
    
        .nav-main-trigger.is-active & {
            opacity: 0;
        }
    }
    
    .nav-main-trigger-icon-close {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        transform: scale(1.5);
        transition-delay: var(--transition-duration-fast);
        transition: transform var(--transition-duration-fast) var(--easing), opacity var(--transition-duration-fast) var(--easing);
    
        .nav-main-trigger.is-active & {
            opacity: 1;
            transform: none;
        }
    }
    .nav-main-list {
        max-width: calc(100% - 48px);
        margin: auto;
    }
    .nav-main-submenu-toggle {
        & > * {
            pointer-events: none;
        }
    }
    .nav-item {
        margin: 0.25em 0;
        display: flex;
        flex-flow: column;
    }
    .nav-link {
        padding: 0.25em 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .nav-link-label {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .nav-link-label-inner {
        position: relative;
    }
    .nav-submenu-indicator {
        display: flex;
        position: absolute;
        top: auto;
        right: 0;
        & > svg {
            display: flex;
            width: 0.667em;
            height: 0.667em;
        }
    }
    .nav-list-submenu {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1rem;
        overflow: hidden;
        transition: height var(--transition-duration-slow) var(--easing);
        background-color: var(--mobile-submenu-bg);
    
        &:not(.active) {
            display: none;
        }
    }
    .nav-link-submenu {
        padding: 0.5em;
        font-size: 1.125em;
    }
}

@media (min-width: 992px) {
    .nav-main-wrapper,
    .nav-main,
    .nav-main-list,
    .nav-item,
    .nav-link {
        height: 100%;
    }
    .nav-main-wrapper {
        width: 80%;
    }
    .nav-main-list {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .nav-main {
        font-size: var(--desktop-nav-text-size);
        color: var(--desktop-nav-color);
    }
    .nav-main-trigger {
        display: none;
    }
    .nav-item {
        position: relative;
    }
    .nav-link {
        display: flex;
        align-items: center;
        padding: 0 var(--desktop-nav-space-between-items);

        &:hover {
            background-color: var(--desktop-nav-link-hover-bg);
        }
    }
    .nav-link-label-inner {
        position: relative;
    }
    .nav-submenu-indicator {
        & > svg {
            display: flex;
            width: 1em;
            height: 1em;
        }
    }
    .nav-list-submenu {
        background-color: var(--desktop-nav-submenu-bg);
        position: absolute;
        top: 100%;
        right: 0;
        min-width: var(--desktop-nav-submenu-width);
        opacity: 0;
        pointer-events: none;
        transition-delay: var(--transition-duration-fast);
        transition: opacity var(--transition-duration-fast) var(--easing);

        .nav-link:hover + &,
        &:hover {
            opacity: 1;
            pointer-events: auto;
        }
    }
    .nav-link-submenu {
        padding: 0.75em 1em;

        &:hover {
            background-color: var(--desktop-nav-submenu-hover-bg);
        }
    }
}