.button {
    padding: 0.75em 1.5em;
    border-radius: 9999em;
    text-decoration: none;
}

.button-primary {
    background-color: var(--button-bg);
    color: var(--button-label);
}

.button-outline {
    box-shadow: inset 0 0 0 2px var(--button-bg);
    color: var(--button-bg);
}
