---
layout: default
---

<div class="page-content">
    <main>
        <div {% if site.a11y_skip %}id="main-content"{% endif %}></div>
        {% include {{ page.intro }} %}
        {% include {{ page.about }} %}
        {% if page.work %}{% include {{ page.work }} %}{% endif %}
        {% if page.products %}{% include {{ page.products }} %}{% endif %}
        {% if page.team %}{% include {{ page.team }} %}{% endif %}
        {% if page.posts %}{% include {{ page.posts }} %}{% endif %}
        {% if page.careers %}{% include {{ page.careers }} %}{% endif %}
    </main>
</div>