.section-team {
    padding: 3em 0 4em;
    background-color: var(--work-section-bg);
}

.team-intro-button-wrap {
    margin-bottom: 2em;
}

.team-card {
    position: relative;
}

.team-card-link {
    text-decoration: none;
    position: static;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: transparent;
        white-space: nowrap;
        overflow: hidden;
        z-index: 1;
    }

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--work-card-hover-bg);
        opacity: 0;
        border-radius: 1.75em;
        z-index: -1;
    }

    &:hover:after,
    &:focus:after {
        opacity: 1;
    }
}



.team-items {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    row-gap: 1.5em;
}

.team-item-thumbnail {
    width: 100%;
}

.team-item-summary {
}