.section-work {
    padding: 3em 0 4em;
    background-color: var(--work-section-bg);
}

.work-member-button-wrap {
    margin-bottom: 2em;
}

.work-items-wrapper {
    margin-top: 2em;
}

.work-card {
    position: relative;
    padding: 0.75em;
    border-radius: 1.75em;
    z-index: 0;
}

.work-card-link {
    text-decoration: none;
    position: static;
    display: inline-flex;
    align-items: center;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: transparent;
        white-space: nowrap;
        overflow: hidden;
        border-radius: 1.25em;
        z-index: 1;
    }

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: inset 0 0 0 0.125em var(--work-card-border-color);
        background-color: var(--work-card-hover-bg);
        opacity: 0;
        border-radius: 1.25em;
        z-index: -1;
    }

    &:hover:after,
    &:focus:after {
        opacity: 1;
    }
}





.work-items {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    row-gap: 1.5em;
}

.work-item-thumbnail {
    width: 100%;
}

.work-item-title {
    margin: 0;
    font-size: 1.5em;
}

.work-item-summary {
    margin-top: 1em;
}

.work-card-link-external {
    display: flex;
    margin-left: 0.75em;

    & > svg {
        display: flex;
        width: 1em;
        height: 1em;
    }
}